.leftPageBg{
    width: 50%;
    height: 100vh;
    background-color: #664AEC;
}
.welcomeText{
    margin: auto;
    margin-top: 200px;
    width: 200px;
    height: 100px;
    font-size: 40px;
    color: white;
}
.rightPageBg{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginText{
    font-size: 40px; 
    margin-bottom: 10px;
}
.inline{
    display: inline;
}
.registerText{
    display: inline; 
    color:#007bff;
}
.emailText{
    font-weight: bold;
    margin-top: 10px;
}
.inputBox{
    border-radius: 10px;
    width: 300px; 
    height: 50px;
    border: 1px white;
    background-color: #f2f2f2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.forgotPw{
    background: inherit;
    border:none;
    border-radius:0;
    padding:0;
    overflow: visible;
    cursor:pointer;
    color:#007bff;
    margin-left: 70px; 
    display: inline;
}
.loginBox{
    border-radius: 10px;
    width: 300px;
    height: 40px;
    border: 1px white;
    background-color: #007bff; 
    color: white; 
    font-weight: bold;
    margin-top: 10px;
}