body {
    background-color: #f9eded; /* Very light blue background */
  }
.order-management{
    max-width: 800px;
    margin: 2 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: blue; /* Blue background */
    border-radius: 10px; /* Rounded corners */
  }
  
  .page-title {
    position: relative; /* Set position to relative */
    top: 40px; /* Move 10px from the top */
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #000; /* Black color */
  }
  
  .logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336; /* Red color */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .new-order-form, .order-history {
    width: 80%;
    padding: 20px;
    background-color: #e9f7fd; /* White background */
    border: 1px solid #1020b3;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .form-title, .order-history-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000; /* Black color */
  }
  
  .input-field {
    width: calc(100% - 20px); /* Adjust width for padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-field.highlight {
    border: 2px solid #007bff; /* Blue border for highlighting */
  }
  
  .create-order-button {
    width: 100%;
    background-color: #007bff; /* Blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .order-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-table th, .order-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .order-table th {
    background-color: #f2f2f2; /* Light gray background */
  }
  
  .order-table td button {
    margin-right: 5px;
  }
  