body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* Light blue background */
}

.order-management-container {
  text-align: center;
  padding: 20px;
}

.page-title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px; /* Increased margin top for better spacing */
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  padding: 20px;
}

.sub-heading {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.form-row {
  margin-bottom: 30px;
}

.input-field {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.blue-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.search-section {
  margin-bottom: 20px;
}

.search-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.search-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}
